@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login:</h1>

<div class="form-group">
    <form method="post" action="/Login/Login">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" name="usr" id="usr">

        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="pwd" id="pwd">
        
        <br>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
</div>