@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Register:</h1>
<p>Please enter information in all of the boxes.</p>

<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">

    <label for="usr">Student ID:</label>
    <input type="text" class="form-control" id="usr">

    <label for="usr">Email:</label>
    <input type="email" class="form-control" id="usr">

    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">

    <label for="pwd">Confirm:</label>
    <input type="password" class="form-control" id="pwd">
    <p><a class="btn btn-default" href="#">Submit</a></p>
</div>