@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Our college is one of the world’s preeminent public universities. Our impact on individuals, our region and the world is profound — whether we are launching young people into a boundless future or confronting the grand challenges of our time through undaunted research and scholarship. Ranked No. 13 in the world on the 2017 Academic Ranking of World Universities, we educate more than 54,000 students annually. We turn ideas into impact and transform lives and our world.
    So what defines our students, faculty and community members? Above all, it’s our belief in possibility and our unshakable optimism. It’s a connection to others near and far. It’s a hunger that pushes us to tackle challenges and pursue progress. It’s the conviction that together we can create a world of good. Join us on the journey.
</p>
