@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h3>Address:</h3>
<address>
    Somewhere over the rainbow<br />
    imaginary, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    123.456.7899
</address>

<address>
    <strong>Support:</strong>   <a href="#">Kc@outlook.com</a><br />
</address>