@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome!</h2>
    <p>
        Welcome to our college's website! Please login or request access to the site. Our course catalog will be accessible once you've signed in.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Course Catalog</h2>
        <p>Check out the classes being offered!</p>
        <p><a class="btn btn-default" href="/Course">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>About our college</h2>
        <p>
            Read interesting facts about our college and why you should attend.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>