@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h1>My Registered Classes:</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Class Description</th>
                <th>Class Date</th>
                <th>Drop Class</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ClassName</td>
                <td>@item.ClassDescription</td>
                <td>@item.ClassDate</td>
                <td>
                    <form method="post" action="Drop">
                        <input type="hidden" name="ClassId" value="@item.ClassId" />
                        <input type="submit" class="btn btn-default" value="Drop">
                    </form>
                </td>
            </tr>

            }
            
        </tbody>
    </table>
</div>
